BR2_x86_64=y
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_KERNEL_HEADERS_6_19=y
BR2_CCACHE=y
BR2_ROOTFS_SKELETON_SINIT=y
BR2_TARGET_GENERIC_PASSWD_SHA512=y
BR2_INIT_SINIT=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_DEFCONFIG="x86_64"
# BR2_PACKAGE_BUSYBOX is not set
BR2_PACKAGE_IFUPDOWN_SCRIPTS=y
BR2_PACKAGE_BASH=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_ISO9660=y
BR2_TARGET_GRUB2=y
BR2_PACKAGE_HOST_F2FS_TOOLS=y
BR2_PACKAGE_HOST_MKPASSWD=y
BR2_TARGET_GENERIC_HOSTNAME="asd2"
BR2_TARGET_GENERIC_ISSUE="Welcome to ARF Software Distribution Version 2"
BR2_TARGET_GENERIC_ROOT_PASSWD="asd2"

#BR2_ROOTFS_POST_BUILD_SCRIPT="board/qemu/x86_64/post-build.sh"
#BR2_ROOTFS_POST_IMAGE_SCRIPT="board/qemu/post-image.sh"

